stages:
  - test
  - build

edit-unit-test:
  script: 
    - "/Applications/Unity/Hub/Editor/2020.1.3f1/Unity.app/Contents/MacOS/Unity \
    -batchmode \
    -projectPath=. \
    -runTests -testPlatform editmode \
    -logFile \
    -testResults ./edit-unit-tests.xml"
    - "ls -a $(pwd)/Parlay"
  stage: test
  artifacts:
    paths: 
      - '$(pwd)/unit-tests.xml'
  tags:
    - unity

play-unit-test:
  script: 
    - "/Applications/Unity/Hub/Editor/2020.1.3f1/Unity.app/Contents/MacOS/Unity \
    -batchmode \
    -projectPath=. \
    -runTests -testPlatform playmode \
    -logFile \
    -testResults ./play-unit-tests.xml"
    - "ls -a $(pwd)/Parlay"
  stage: test
  artifacts:
    paths: 
      - '$(pwd)/Parlay/play-unit-tests.xml'
  tags:
    - unity

build-webgl:
  script: 
    - "/Applications/Unity/Hub/Editor/2020.1.3f1/Unity.app/Contents/MacOS/Unity \
    -quit -batchmode -executeMethod WebGLBuilder.build -buildTarget WebGL -projectPath=."
    - "ls -a $(pwd)/Parlay"
  stage: build
  tags:
    - unity
  artifacts:
    paths:
      - '$(pwd)/Parlay/WebGL-Dist/'
